# Лабораторная работа 5 Покотило Дмитрий ПИН-201

### 1 - Считать в pandas DataFrame любой источник данных: CSV, JSON, Excel-файл, HTML-таблицу, встроенный датасет sklearn. 
   ###   - Опишите ваши данные, что обозначает каждый столбец, какого типа (категориальный, вещественный, целочисленный, бинарный) данный столбец, при необходимости для категориальных в том числе бинарных признаков привести расшифровку их значений. В общем, проведите "визуальный" анализ ваших данных.

Подключение библиотек

In [1]:
import pandas as pd
import numpy as np

Читаем в переменную rests файл с индийскими ресторанами

In [2]:
rests  = pd.read_csv('restaurants.csv', sep=',', nrows=6594)

## 2 Выполните с датафреймом следующие операции (многие операции можно совершить не одним способом, используйте все известные вам способы, поищите/придумайте новые способы) :

### 2.1 вывод таблицы

In [3]:
rests

,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost
0,Local,"Scindia House,Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Finger Food, Continental",4.1,2415,2000
1,The G.T. ROAD,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,North Indian,4.3,2363,1500
2,Tamasha,"Connaught Place, Central Delhi",Central Delhi,Delhi,"Finger Food, North Indian, Italian, Contine...",4.2,5016,2000
3,The Junkyard Cafe,"Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Mediterranean, Asian, Italian...",4.2,2821,1800
4,Chili's American Grill and Bar,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,"Mexican, American, Italian",4.4,1094,2000
...,...,...,...,...,...,...,...,...
6588,Shree Rathnam,"Wave Mall,BRS Nagar, West Ludhiana",West Ludhiana,Ludhiana,South Indian,4.1,20,600
6589,Cafe Delish,"Radisson Blu,Rajguru Nagar, West Ludhiana",West Ludhiana,Ludhiana,"Multi-Cuisine, North Indian, Continental, A...",4.4,48,3100
6590,3 K Resorts,"BRS Nagar, West Ludhiana",West Ludhiana,Ludhiana,North Indian,1.0,1,1100
6591,Dovka Bar,"Nirvana Hotel Banquets Club,PAU, Central Ludhiana",Central Ludhiana,Ludhiana,"North Indian, Chinese, Finger Food",4.3,3,1500
6592,Urban Vibes,"Aggar Nagar, West Ludhiana",West Ludhiana,Ludhiana,"Multi-Cuisine, North Indian, Italian, Chine...",3.8,12,2000

### Результат "визуального" анализа:
    -Name: наименование ресторана. (строковый)
    -Locality: расположение ресторана. (строковый)
    -Location: район. (строковый)
    -City: город. (строковый)
    -Cuisine: основная кухня. (строковый)
    -Rating: средний рейтинг. (число с плавающей точкой)
    -Votes: количество полученных голосов. (числовой)
    -Cost: цена. (числовой)

### 2.2 вывод первых 5 элементов таблицы

In [4]:
rests.head(5)

,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost
0,Local,"Scindia House,Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Finger Food, Continental",4.1,2415,2000
1,The G.T. ROAD,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,North Indian,4.3,2363,1500
2,Tamasha,"Connaught Place, Central Delhi",Central Delhi,Delhi,"Finger Food, North Indian, Italian, Contine...",4.2,5016,2000
3,The Junkyard Cafe,"Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Mediterranean, Asian, Italian...",4.2,2821,1800
4,Chili's American Grill and Bar,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,"Mexican, American, Italian",4.4,1094,2000

### 2.3 вывод последних 5 элементов таблицы

In [5]:
rests.tail(5)

,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost
6588,Shree Rathnam,"Wave Mall,BRS Nagar, West Ludhiana",West Ludhiana,Ludhiana,South Indian,4.1,20,600
6589,Cafe Delish,"Radisson Blu,Rajguru Nagar, West Ludhiana",West Ludhiana,Ludhiana,"Multi-Cuisine, North Indian, Continental, A...",4.4,48,3100
6590,3 K Resorts,"BRS Nagar, West Ludhiana",West Ludhiana,Ludhiana,North Indian,1.0,1,1100
6591,Dovka Bar,"Nirvana Hotel Banquets Club,PAU, Central Ludhiana",Central Ludhiana,Ludhiana,"North Indian, Chinese, Finger Food",4.3,3,1500
6592,Urban Vibes,"Aggar Nagar, West Ludhiana",West Ludhiana,Ludhiana,"Multi-Cuisine, North Indian, Italian, Chine...",3.8,12,2000

### 2.4 использовать функцию describe()
Получаем статистику по числовым значениям(рейтинг, голоса, цена).

In [6]:
rests.describe().round()

       Rating   Votes    Cost
count  6593.0  6593.0  6593.0
mean      4.0   119.0  1103.0
std       1.0   262.0   717.0
min       1.0     1.0   100.0
25%       4.0     6.0   500.0
50%       4.0    31.0   900.0
75%       4.0   115.0  1500.0
max       5.0  5016.0  8000.0

### 2.5 считывание значения конкретной ячейки (с конкретным индексом из конкретной колонки) всеми известными вам способами

In [7]:
rests.iloc[0]['Name']

'Local'

In [8]:
rests.at[0, 'Name']

'Local'

In [9]:
rests['Name'].values[0]

'Local'

In [10]:
rests.iat[0, 0]

'Local'

In [11]:
rests._get_value(0, 'Name')

'Local'

### 2.6 фильтрация строк по диапазону индекса

Задаём список для фильтрации

In [12]:
list_for_filter = [1,2,3,5]

rests[rests.index.isin (list_for_filter)]

,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost
1,The G.T. ROAD,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,North Indian,4.3,2363,1500
2,Tamasha,"Connaught Place, Central Delhi",Central Delhi,Delhi,"Finger Food, North Indian, Italian, Contine...",4.2,5016,2000
3,The Junkyard Cafe,"Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Mediterranean, Asian, Italian...",4.2,2821,1800
5,Ardor 2.1 Restaurant and Lounge,"Connaught Place, Central Delhi",Central Delhi,Delhi,"Multi-Cuisine, North Indian, Italian, Chine...",3.9,1391,2000

In [13]:
rests[rests.index.isin ([1, 2, 3 , 5])]

,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost
1,The G.T. ROAD,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,North Indian,4.3,2363,1500
2,Tamasha,"Connaught Place, Central Delhi",Central Delhi,Delhi,"Finger Food, North Indian, Italian, Contine...",4.2,5016,2000
3,The Junkyard Cafe,"Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Mediterranean, Asian, Italian...",4.2,2821,1800
5,Ardor 2.1 Restaurant and Lounge,"Connaught Place, Central Delhi",Central Delhi,Delhi,"Multi-Cuisine, North Indian, Italian, Chine...",3.9,1391,2000

### 2.7 фильтрация набора данных по какому-либо условию

фильтруем, чтобы выводились значения, если в колонке 'Name' имя начинается с T

In [14]:
rests[rests.Name.str.startswith('T')]

,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost
1,The G.T. ROAD,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,North Indian,4.3,2363,1500
2,Tamasha,"Connaught Place, Central Delhi",Central Delhi,Delhi,"Finger Food, North Indian, Italian, Contine...",4.2,5016,2000
3,The Junkyard Cafe,"Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Mediterranean, Asian, Italian...",4.2,2821,1800
6,The Luggage Room By Sandoz,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,"Multi-Cuisine, North Indian, Italian, Chine...",4.0,1022,1800
22,The Darzi Bar & Kitchen,"Connaught Place, Central Delhi",Central Delhi,Delhi,"Multi-Cuisine, North Indian, Italian, Conti...",4.1,1624,2000
...,...,...,...,...,...,...,...,...
6573,The Beer Garden by Peddler's,"Ferozepur Road, Central Ludhiana",Central Ludhiana,Ludhiana,North Indian,4.6,14,1600
6574,The Crispy Hawkers,"BRS Nagar, West Ludhiana",West Ludhiana,Ludhiana,Fast Food,5.0,1,300
6575,The Chocolate Room,"Sarabha Nagar, West Ludhiana",West Ludhiana,Ludhiana,"Italian, Mexican, Fast Food, Desserts",3.1,5,800
6583,The Biker's Sky Lounge Cafe,"Sarabha Nagar, West Ludhiana",West Ludhiana,Ludhiana,North Indian,1.0,1,800
6584,The Yard Lounge & Bar,"Pakhowal Road, West Ludhiana",West Ludhiana,Ludhiana,"North Indian, Italian, Chinese",3.5,4,900

фильтруем, 5 самых больших значений по цене

In [15]:
rests.nlargest(5, 'Cost')

,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost
1672,Masque,"Laxmi Woolen Mills,Mahalaxmi, South Mumbai",South Mumbai,Mumbai,"European, Modern Indian",4.6,26,8000
632,Kheer,"Roseate House,Aerocity, South Delhi",South Delhi,Delhi,"North Indian, Mughlai",4.6,302,6000
119,Sevilla,"The Claridges,Aurangzeb Road, Central Delhi",Central Delhi,Delhi,"Italian, Spanish",4.5,306,5000
199,Le Cirque,"The Leela Palace,Chanakyapuri, South Delhi",South Delhi,Delhi,"Italian, Continental, French",4.4,25,5000
202,The Qube,"The Leela Palace,Chanakyapuri, South Delhi",South Delhi,Delhi,"North Indian, Italian, Continental, Asian",4.5,84,5000

фильтруем, 5 самых маленьких значений по цене

In [16]:
rests.nsmallest(5, 'Cost')

,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost
4764,Gokul Shree,"Alipore, South Kolkata",South Kolkata,Kolkata,Street Food,3.5,2,100
4826,Bake Club,"Jadavpur, South Kolkata",South Kolkata,Kolkata,Bakery and Confectionary,1.0,1,100
1149,Tibbs Frankie,"R City Mall,Ghatkopar West, Central Suburbs",Central Suburbs,Mumbai,Fast Food,3.3,6,200
1173,Tibbs Frankie,"Phoenix Marketcity Mall,Kurla West, Central Su...",Central Suburbs,Mumbai,Fast Food,4.4,41,200
1215,Tibbs Frankie,"Chembur, Central Suburbs",Central Suburbs,Mumbai,Fast Food,4.7,40,200

фильтруем, чтобы выводились значения, если в колонке 'Name' содержится буква 'y'

In [17]:
rests[rests.Name.str.contains('y')]

,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost
3,The Junkyard Cafe,"Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Mediterranean, Asian, Italian...",4.2,2821,1800
6,The Luggage Room By Sandoz,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,"Multi-Cuisine, North Indian, Italian, Chine...",4.0,1022,1800
8,My Bar Square,"Connaught Place, Central Delhi",Central Delhi,Delhi,"Finger Food, Italian, Chinese, Continental",3.9,506,1500
13,Unplugged Courtyard,"Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Continental",4.1,1817,2000
15,Ministry Of Beer,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,"Finger Food, North Indian, Italian, Contine...",4.0,1501,2100
...,...,...,...,...,...,...,...,...
6574,The Crispy Hawkers,"BRS Nagar, West Ludhiana",West Ludhiana,Ludhiana,Fast Food,5.0,1,300
6579,Spice Roots By Hotel Rigal Blu,"Hotel Rigal Blu,Sector 32, East Ludhiana",East Ludhiana,Ludhiana,"North Indian, Chinese, Continental",3.6,10,1600
6583,The Biker's Sky Lounge Cafe,"Sarabha Nagar, West Ludhiana",West Ludhiana,Ludhiana,North Indian,1.0,1,800
6585,Sixtynine.ml,"Aggar Nagar, West Ludhiana",West Ludhiana,Ludhiana,"Multi-Cuisine, North Indian, Continental, A...",3.9,23,1200
6587,Hungry Point,"PAU, Central Ludhiana",Central Ludhiana,Ludhiana,"Fast Food, Pizza, Italian",1.0,1,500

фильтруем  по цене больше или равно 2000 и рейтингу 5

In [18]:
rests[(rests.Cost >= 2000) & (rests.Rating == 5.0)]

,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost
722,Ethyl,"Radisson Noida,Sector 55, Noida",Noida,Noida,Finger Food,5.0,13,2500
1085,Houz Cafe Bar,"Sector 65, Gurgaon",Gurgaon,Gurgaon,"World Cuisine, Italian, Mediterranean, Fren...",5.0,1,2200
1662,Farmhouse Palladium,"Borivali West, North Western",North Western,Mumbai,"North Indian, Italian, Chinese, Continental...",5.0,3,2000
1865,Mirage,"Ashok Nagar, Central Bangalore",Central Bangalore,Bangalore,"Seafood, Asian, South American",5.0,1,2500
5676,Tamarind,"Shakun Hotels and Resorts,C Scheme, Central Ja...",Central Jaipur,Jaipur,"North Indian, Italian, Asian, Rajasthani",5.0,1,2000
5984,Pepperz,"Scorpio Club,Aliganj, North Lucknow",North Lucknow,Lucknow,"North Indian, Chinese, Fast Food",5.0,1,2100
6217,Ark,"Hiran Magri, South Udaipur",South Udaipur,Udaipur,"Continental, Oriental , North Indian",5.0,3,2200
6293,The Restaurant,"Trident Hotel Agra,Tajganj, East Agra",East Agra,Agra,"North Indian, Chinese, Continental",5.0,1,2000
6299,Tapas,"Jaypee Palace Hotel & Convention Centre,Tajgan...",East Agra,Agra,Finger Food,5.0,1,3200
6457,The Latest Recipe,"Le Méridien Nagpur,Wardha Road, South Nagpur",South Nagpur,Nagpur,"North Indian, Continental, Italian, Oriental",5.0,4,2100
6458,Longitude,"Le Méridien Nagpur,Wardha Road, South Nagpur",South Nagpur,Nagpur,Finger Food,5.0,1,2000
6556,Hotel Riyasat,"Industrial Area, South Ludhiana",South Ludhiana,Ludhiana,"North Indian, Oriental , Mughlai",5.0,3,2600

фильтруем  по рейтингу 3 или 5

In [19]:
rests[(rests.Rating == 5.0) | (rests.Rating == 3.0)]

,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost
72,Mughal-E-Hazam,"Connaught Place, Central Delhi",Central Delhi,Delhi,North Indian,5.0,1,1200
84,Bistro 55,"Paharganj, Central Delhi",Central Delhi,Delhi,"Multi-Cuisine, North Indian, Italian, Chine...",5.0,2,500
85,Giani,"Connaught Place, Central Delhi",Central Delhi,Delhi,"Desserts, Ice Cream, Shakes",3.0,2,400
115,Thalassery Restaurant,"Rajinder Nagar, West Delhi",West Delhi,Delhi,"North Indian, Chinese, Fast Food",5.0,1,800
134,The Waffle Co.,"Rajinder Nagar, West Delhi",West Delhi,Delhi,"Desserts, Waffle, Shakes",5.0,1,400
...,...,...,...,...,...,...,...,...
6557,Basant Ice Cream Cafe & Foods,"Sarabha Nagar, West Ludhiana",West Ludhiana,Ludhiana,"Chinese, North Indian, Ice Cream",5.0,1,900
6559,Karim's,"Sarabha Nagar, West Ludhiana",West Ludhiana,Ludhiana,Mughlai,5.0,1,1400
6560,Silver Leaf,"Hotel Imperial Executive ,Pakhowal Road, South...",South Ludhiana,Ludhiana,"North Indian, Chinese",3.0,1,1300
6574,The Crispy Hawkers,"BRS Nagar, West Ludhiana",West Ludhiana,Ludhiana,Fast Food,5.0,1,300
6577,Roli Poli,"PAU, Central Ludhiana",Central Ludhiana,Ludhiana,Fast Food,3.0,1,600

### 2.8 работа с пропущенными значениями (если они есть): удаление строк с пропущенными значениями, заполнение пропущенных значений средним значением по колонке. Если пропущенных значений нет — намеренно их "генерируете", прибивая какие-то куски данных в np.nan

#### "генерируем" пропущенные значения

In [20]:
rests.at[0,'Cost'] = np.nan
rests.at[1,'Cost'] = np.nan
rests.at[2,'Cost'] = np.nan

rests

,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost
0,Local,"Scindia House,Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Finger Food, Continental",4.1,2415,NaN
1,The G.T. ROAD,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,North Indian,4.3,2363,NaN
2,Tamasha,"Connaught Place, Central Delhi",Central Delhi,Delhi,"Finger Food, North Indian, Italian, Contine...",4.2,5016,NaN
3,The Junkyard Cafe,"Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Mediterranean, Asian, Italian...",4.2,2821,1800.0
4,Chili's American Grill and Bar,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,"Mexican, American, Italian",4.4,1094,2000.0
...,...,...,...,...,...,...,...,...
6588,Shree Rathnam,"Wave Mall,BRS Nagar, West Ludhiana",West Ludhiana,Ludhiana,South Indian,4.1,20,600.0
6589,Cafe Delish,"Radisson Blu,Rajguru Nagar, West Ludhiana",West Ludhiana,Ludhiana,"Multi-Cuisine, North Indian, Continental, A...",4.4,48,3100.0
6590,3 K Resorts,"BRS Nagar, West Ludhiana",West Ludhiana,Ludhiana,North Indian,1.0,1,1100.0
6591,Dovka Bar,"Nirvana Hotel Banquets Club,PAU, Central Ludhiana",Central Ludhiana,Ludhiana,"North Indian, Chinese, Finger Food",4.3,3,1500.0
6592,Urban Vibes,"Aggar Nagar, West Ludhiana",West Ludhiana,Ludhiana,"Multi-Cuisine, North Indian, Italian, Chine...",3.8,12,2000.0

#### удаление пропущенных значений

In [21]:
rests.dropna(subset='Cost')

,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost
3,The Junkyard Cafe,"Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Mediterranean, Asian, Italian...",4.2,2821,1800.0
4,Chili's American Grill and Bar,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,"Mexican, American, Italian",4.4,1094,2000.0
5,Ardor 2.1 Restaurant and Lounge,"Connaught Place, Central Delhi",Central Delhi,Delhi,"Multi-Cuisine, North Indian, Italian, Chine...",3.9,1391,2000.0
6,The Luggage Room By Sandoz,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,"Multi-Cuisine, North Indian, Italian, Chine...",4.0,1022,1800.0
7,QBA,"Connaught Place, Central Delhi",Central Delhi,Delhi,"Multi-Cuisine, North Indian, Italian, Conti...",4.3,963,2100.0
...,...,...,...,...,...,...,...,...
6588,Shree Rathnam,"Wave Mall,BRS Nagar, West Ludhiana",West Ludhiana,Ludhiana,South Indian,4.1,20,600.0
6589,Cafe Delish,"Radisson Blu,Rajguru Nagar, West Ludhiana",West Ludhiana,Ludhiana,"Multi-Cuisine, North Indian, Continental, A...",4.4,48,3100.0
6590,3 K Resorts,"BRS Nagar, West Ludhiana",West Ludhiana,Ludhiana,North Indian,1.0,1,1100.0
6591,Dovka Bar,"Nirvana Hotel Banquets Club,PAU, Central Ludhiana",Central Ludhiana,Ludhiana,"North Indian, Chinese, Finger Food",4.3,3,1500.0
6592,Urban Vibes,"Aggar Nagar, West Ludhiana",West Ludhiana,Ludhiana,"Multi-Cuisine, North Indian, Italian, Chine...",3.8,12,2000.0

#### заполнение пропущенных значений средним значением по колонке

In [22]:
rests.fillna(rests['Cost'].mean().round())

,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost
0,Local,"Scindia House,Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Finger Food, Continental",4.1,2415,1102.0
1,The G.T. ROAD,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,North Indian,4.3,2363,1102.0
2,Tamasha,"Connaught Place, Central Delhi",Central Delhi,Delhi,"Finger Food, North Indian, Italian, Contine...",4.2,5016,1102.0
3,The Junkyard Cafe,"Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Mediterranean, Asian, Italian...",4.2,2821,1800.0
4,Chili's American Grill and Bar,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,"Mexican, American, Italian",4.4,1094,2000.0
...,...,...,...,...,...,...,...,...
6588,Shree Rathnam,"Wave Mall,BRS Nagar, West Ludhiana",West Ludhiana,Ludhiana,South Indian,4.1,20,600.0
6589,Cafe Delish,"Radisson Blu,Rajguru Nagar, West Ludhiana",West Ludhiana,Ludhiana,"Multi-Cuisine, North Indian, Continental, A...",4.4,48,3100.0
6590,3 K Resorts,"BRS Nagar, West Ludhiana",West Ludhiana,Ludhiana,North Indian,1.0,1,1100.0
6591,Dovka Bar,"Nirvana Hotel Banquets Club,PAU, Central Ludhiana",Central Ludhiana,Ludhiana,"North Indian, Chinese, Finger Food",4.3,3,1500.0
6592,Urban Vibes,"Aggar Nagar, West Ludhiana",West Ludhiana,Ludhiana,"Multi-Cuisine, North Indian, Italian, Chine...",3.8,12,2000.0

### 2.9. создание нового поля вычисленного на основе значений других полей:

#### 2.9.1 через выражение на базе имеющихся колонок,

In [23]:
new = [rests.Name.sample(n=1, random_state=1), rests.Location.sample(n=1, random_state=1), rests.Locality.sample(n=1, random_state=1), rests.City.sample(n=1, random_state=1), rests.Cuisine.sample(n=1, random_state=1), rests.Rating.mean().round(), rests.Votes.mean().round(), rests.Cost.mean().round()]
rests.append(pd.Series (new, index=rests.columns [: len (new)]), ignore_index= True )
#rests.Name.sample(n=1, random_state=1)

C:\Users\niki3\AppData\Local\Temp\ipykernel_16168\3138651037.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  rests.append(pd.Series (new, index=rests.columns [: len (new)]), ignore_index= True )

,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost
0,Local,"Scindia House,Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Finger Food, Continental",4.1,2415.0,NaN
1,The G.T. ROAD,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,North Indian,4.3,2363.0,NaN
2,Tamasha,"Connaught Place, Central Delhi",Central Delhi,Delhi,"Finger Food, North Indian, Italian, Contine...",4.2,5016.0,NaN
3,The Junkyard Cafe,"Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Mediterranean, Asian, Italian...",4.2,2821.0,1800.0
4,Chili's American Grill and Bar,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,"Mexican, American, Italian",4.4,1094.0,2000.0
...,...,...,...,...,...,...,...,...
6589,Cafe Delish,"Radisson Blu,Rajguru Nagar, West Ludhiana",West Ludhiana,Ludhiana,"Multi-Cuisine, North Indian, Continental, A...",4.4,48.0,3100.0
6590,3 K Resorts,"BRS Nagar, West Ludhiana",West Ludhiana,Ludhiana,North Indian,1.0,1.0,1100.0
6591,Dovka Bar,"Nirvana Hotel Banquets Club,PAU, Central Ludhiana",Central Ludhiana,Ludhiana,"North Indian, Chinese, Finger Food",4.3,3.0,1500.0
6592,Urban Vibes,"Aggar Nagar, West Ludhiana",West Ludhiana,Ludhiana,"Multi-Cuisine, North Indian, Italian, Chine...",3.8,12.0,2000.0
6593,"2821 Lassi Corner Name: Name, dtype: object","2821 Varthur, East Bangalore Name: Location...","2821 East Bangalore Name: Locality, dtype:...","2821 Bangalore Name: City, dtype: object","2821 Desserts, Ice Cream, Drinks, Fast F...",4.0,119.0,1102.0

#### 2.9.2 через DataFrame.apply

In [24]:
rests['CITIES'] = rests['City'].apply(lambda element: element.upper())

rests

,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost,CITIES
0,Local,"Scindia House,Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Finger Food, Continental",4.1,2415,NaN,DELHI
1,The G.T. ROAD,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,North Indian,4.3,2363,NaN,DELHI
2,Tamasha,"Connaught Place, Central Delhi",Central Delhi,Delhi,"Finger Food, North Indian, Italian, Contine...",4.2,5016,NaN,DELHI
3,The Junkyard Cafe,"Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Mediterranean, Asian, Italian...",4.2,2821,1800.0,DELHI
4,Chili's American Grill and Bar,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,"Mexican, American, Italian",4.4,1094,2000.0,DELHI
...,...,...,...,...,...,...,...,...,...
6588,Shree Rathnam,"Wave Mall,BRS Nagar, West Ludhiana",West Ludhiana,Ludhiana,South Indian,4.1,20,600.0,LUDHIANA
6589,Cafe Delish,"Radisson Blu,Rajguru Nagar, West Ludhiana",West Ludhiana,Ludhiana,"Multi-Cuisine, North Indian, Continental, A...",4.4,48,3100.0,LUDHIANA
6590,3 K Resorts,"BRS Nagar, West Ludhiana",West Ludhiana,Ludhiana,North Indian,1.0,1,1100.0,LUDHIANA
6591,Dovka Bar,"Nirvana Hotel Banquets Club,PAU, Central Ludhiana",Central Ludhiana,Ludhiana,"North Indian, Chinese, Finger Food",4.3,3,1500.0,LUDHIANA
6592,Urban Vibes,"Aggar Nagar, West Ludhiana",West Ludhiana,Ludhiana,"Multi-Cuisine, North Indian, Italian, Chine...",3.8,12,2000.0,LUDHIANA

#### 2.9.3 через Series.apply

In [48]:
def func(row):
    if "Central Delhi" in row['Locality']:
        return 'not eat'
    else: 
        return 'eat'
    
    
    
rests['eat'] = rests.apply(func, axis=1)


rests

,index,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost,CITIES,eat
0,0,Local,"Scindia House,Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Finger Food, Continental",4.1,2415,NaN,DELHI,not eat
1,1,The G.T. ROAD,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,North Indian,4.3,2363,NaN,DELHI,not eat
2,2,Tamasha,"Connaught Place, Central Delhi",Central Delhi,Delhi,"Finger Food, North Indian, Italian, Contine...",4.2,5016,NaN,DELHI,not eat
3,3,The Junkyard Cafe,"Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Mediterranean, Asian, Italian...",4.2,2821,1800.0,DELHI,not eat
4,4,Chili's American Grill and Bar,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,"Mexican, American, Italian",4.4,1094,2000.0,DELHI,not eat
...,...,...,...,...,...,...,...,...,...,...,...
6588,6588,Shree Rathnam,"Wave Mall,BRS Nagar, West Ludhiana",West Ludhiana,Ludhiana,South Indian,4.1,20,600.0,LUDHIANA,eat
6589,6589,Cafe Delish,"Radisson Blu,Rajguru Nagar, West Ludhiana",West Ludhiana,Ludhiana,"Multi-Cuisine, North Indian, Continental, A...",4.4,48,3100.0,LUDHIANA,eat
6590,6590,3 K Resorts,"BRS Nagar, West Ludhiana",West Ludhiana,Ludhiana,North Indian,1.0,1,1100.0,LUDHIANA,eat
6591,6591,Dovka Bar,"Nirvana Hotel Banquets Club,PAU, Central Ludhiana",Central Ludhiana,Ludhiana,"North Indian, Chinese, Finger Food",4.3,3,1500.0,LUDHIANA,eat
6592,6592,Urban Vibes,"Aggar Nagar, West Ludhiana",West Ludhiana,Ludhiana,"Multi-Cuisine, North Indian, Italian, Chine...",3.8,12,2000.0,LUDHIANA,eat

#### 2.10 сортировка по какому-либо из полей

сортировка строк данных на основе 'Rating', начиная с 5 звёзд

In [49]:
rests.sort_values(by = 'Rating', ascending = False)

,index,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost,CITIES,eat
1906,1906,Sreeraj Lassi Bar,"Shivaji Nagar, Central Bangalore",Central Bangalore,Bangalore,"Desserts, Ice Cream, Shakes",5.0,1,200.0,BANGALORE,eat
2285,2285,Coco Barista,"BTM Layout, South Bangalore",South Bangalore,Bangalore,Fast Food,5.0,1,400.0,BANGALORE,eat
1296,1296,The Food Master,"Vashi, Navi Mumbai",Navi Mumbai,Mumbai,Fast Food,5.0,1,500.0,MUMBAI,eat
6293,6293,The Restaurant,"Trident Hotel Agra,Tajganj, East Agra",East Agra,Agra,"North Indian, Chinese, Continental",5.0,1,2000.0,AGRA,eat
5814,5814,Grab A Coffee,"Malviya Nagar, South Jaipur",South Jaipur,Jaipur,"Fast Food, Coffee, Shakes",5.0,4,600.0,JAIPUR,eat
...,...,...,...,...,...,...,...,...,...,...,...
5523,5523,Bada Saab's,"Phase 3, Mohali",Mohali,Chandigarh,"North Indian, Chinese",1.0,1,800.0,CHANDIGARH,eat
3421,3421,Petoo,"Ameerpet, Central East Hyderabad",Central East Hyderabad,Hyderabad,"Street Food, Fast Food, Chaat, Biryani",1.0,1,600.0,HYDERABAD,eat
5837,5837,De Thali,"Raja Park, East Jaipur",East Jaipur,Jaipur,North Indian,1.0,1,700.0,JAIPUR,eat
1107,1107,Grill Inn,"The Grand Venice Mall,Surajpur Site 4, NCR Gre...",NCR Greater Noida,Noida,Fast Food,1.0,1,500.0,NOIDA,eat
624,624,Giani,"Subhash Nagar, West Delhi",West Delhi,Delhi,"Desserts, Ice Cream, Shakes",1.0,1,400.0,DELHI,eat

#### 2.11 вычислить несколько статистик по колонкам (используйте встроенные агрегатные функции — любые на выбор)

среднее значение для числовых столбцов

In [50]:
rests.mean(numeric_only=True)

index     3296.000000
Rating       4.088200
Votes      119.420143
Cost      1102.465706
dtype: float64

стандартное отклонение для числовых столбцов

In [55]:
rests.std(numeric_only=True)

index     1903.379494
Rating       0.670031
Votes      261.849704
Cost       716.911242
dtype: float64

Минимальные значения столбцов

In [56]:
rests.min(numeric_only=True)

index       0.0
Rating      1.0
Votes       1.0
Cost      100.0
dtype: float64

Максимальные значения столбцов

In [57]:
rests.max(numeric_only=True)

index     6592.0
Rating       5.0
Votes     5016.0
Cost      8000.0
dtype: float64

Количество наименований ресторанов

In [58]:
rests.Name.count()

6593

Считаем медиану каждого столбца

In [59]:
rests.median(numeric_only=True)

index     3296.0
Rating       4.2
Votes       31.0
Cost       900.0
dtype: float64

#### 2.12 .value_counts()

Подсчет уникальных значений строковых столбцов

In [60]:
rests.Name.value_counts()

Wow! Momo                        67
Kanti Sweets                     65
Barbeque Nation                  48
Taco Bell                        44
Dindigul Thalappakatti           33
                                 ..
Churn                             1
Swagatham Rayalaseema Ruchulu     1
BYLI - Bet You Love It            1
Chameleon Lounge Bar              1
Urban Vibes                       1
Name: Name, Length: 4520, dtype: int64

In [61]:
rests.Location.value_counts()

Koramangala, South Bangalore                                   66
Indiranagar, East Bangalore                                    53
Jubilee Hills, Central West Hyderabad                          51
Connaught Place, Central Delhi                                 49
Salt Lake, East Kolkata                                        49
                                                               ..
Purva Riviera Shopping Complex,Marathahalli, East Bangalore     1
Kasavanahalli, South Bangalore                                  1
KR Inn,KR Puram, East Bangalore                                 1
Venkataswamy Building,Marathahalli, East Bangalore              1
Nirvana Hotel Banquets Club,PAU, Central Ludhiana               1
Name: Location, Length: 2399, dtype: int64

In [62]:
rests.Locality.value_counts()

 South Bangalore                364
 South Delhi                    339
 South Kolkata                  310
 West Ahmedabad                 236
 East Bangalore                 235
                               ...
 North Kochi                      1
 East Kochi                       1
 East Udaipur                     1
 North Mysore                     1
 Bangalore Mangalore Highway      1
Name: Locality, Length: 108, dtype: int64

In [63]:
rests.City.value_counts()

Bangalore     1019
Delhi          734
Mumbai         727
Kolkata        712
Hyderabad      589
Ahmedabad      414
Chennai        388
Pune           351
Jaipur         268
Chandigarh     264
Indore         204
Gurgaon        184
Noida          146
Vadodara        91
Lucknow         80
Agra            75
Nagpur          66
Surat           64
Ludhiana        62
Goa             60
Ghaziabad       50
Udaipur         43
Kochi            2
Name: City, dtype: int64

In [64]:
rests.Cuisine.value_counts()

North Indian,  Chinese                                              294
Fast Food                                                           167
North Indian                                                        150
North Indian,  Chinese,  Continental                                146
North Indian,  Mughlai                                              128
                                                                   ...
Bihari,  Seafood                                                      1
Japanese,  Asian,  Thai,  Korean                                      1
Italian,  Mexican,  Continental,  Street Food                         1
Multi-Cuisine,  North Indian,  Chinese,  Assamese                     1
Multi-Cuisine,  North Indian,  Continental,  Asian,  Health Food      1
Name: Cuisine, Length: 2096, dtype: int64

#### 2.13 Вывод уникальных значений колонки через .unique()

In [65]:
rests.Name.unique()

array(['Local', 'The G.T. ROAD', 'Tamasha', ..., '3 K Resorts',
       'Dovka Bar', 'Urban Vibes'], dtype=object)

In [66]:
rests.Location.unique()

array(['Scindia House,Connaught Place, Central Delhi',
       'M-Block,Connaught Place, Central Delhi',
       'Connaught Place, Central Delhi', ...,
       'Wave Mall,BRS Nagar, West Ludhiana',
       'Radisson Blu,Rajguru Nagar, West Ludhiana',
       'Nirvana Hotel Banquets Club,PAU, Central Ludhiana'], dtype=object)

In [67]:
rests.Locality.unique()

array([' Central Delhi', ' North Delhi', ' West Delhi', ' South Delhi',
       ' East Delhi', ' Noida', ' Ghaziabad', ' Gurgaon', ' Faridabad',
       ' NCR Greater Noida', ' Central Suburbs', ' Andheri East',
       ' Powai', ' Bandra', ' South Mumbai', ' Andheri West',
       ' Navi Mumbai', ' North Western', ' Thane', ' Dombivali',
       ' Central Bangalore', ' South Bangalore', ' West Bangalore',
       ' East Bangalore', ' North Bangalore', ' Mysore Highway',
       ' Bangalore Mangalore Highway', ' North Mysore',
       ' Central Chennai', ' South West Chennai', ' West Chennai',
       ' North Chennai', ' South Chennai', ' Central East Hyderabad',
       ' Secunderabad', ' Central West Hyderabad', ' Central Hyderabad',
       ' West Hyderabad', ' South Hyderabad', ' East Hyderabad',
       ' West Pune', ' East Pune', ' South Pune', ' East Kolkata',
       ' Central Kolkata', ' North Kolkata', ' South Kolkata', ' Howrah',
       ' 24 Parganas North', ' West Kolkata', ' 24 Parganas South',
       ' West Ahmedabad', ' Central Ahmedabad', ' North Ahmedabad',
       ' East Ahmedabad', ' South Ahmedabad', ' East Chandigarh',
       ' West Chandigarh', ' South Chandigarh', ' Central Chandigarh',
       ' North Chandigarh', ' Mohali', ' Panchkula', ' Zirakpur',
       ' South Goa', ' North Goa', ' Central Jaipur', ' North Jaipur',
       ' West Jaipur', ' South Jaipur', ' East Jaipur',
       ' Central Lucknow', ' South Lucknow', ' North Lucknow',
       ' East Lucknow', ' East Indore', ' South Indore',
       ' Central Indore', ' North Indore', ' West Indore',
       ' Central Udaipur', ' East Udaipur', ' West Udaipur',
       ' South Udaipur', ' West Agra', ' Central Agra', ' North Agra',
       ' East Agra', ' Central Vadodara', ' North Vadodara',
       ' West Vadodara', ' East Vadodara', ' South Vadodara',
       ' West Nagpur', ' Central Nagpur', ' North Nagpur', ' East Nagpur',
       ' South Nagpur', ' North Kochi', ' East Kochi', ' South Surat',
       ' West Surat', ' North Surat', ' East Surat', ' South Ludhiana',
       ' Central Ludhiana', ' East Ludhiana', ' West Ludhiana'],
      dtype=object)

In [68]:
rests.City.unique()

array(['Delhi', 'Noida', 'Ghaziabad', 'Gurgaon', 'Mumbai', 'Bangalore',
       'Chennai', 'Hyderabad', 'Pune', 'Kolkata', 'Ahmedabad',
       'Chandigarh', 'Goa', 'Jaipur', 'Lucknow', 'Indore', 'Udaipur',
       'Agra', 'Vadodara', 'Nagpur', 'Kochi', 'Surat', 'Ludhiana'],
      dtype=object)

In [69]:
rests.Cuisine.unique()

array(['North Indian,  Finger Food,  Continental', 'North Indian',
       'Finger Food,  North Indian,  Italian,  Continental,  Asian', ...,
       'North Indian,  European,  Asian,  Finger Food',
       'Multi-Cuisine,  North Indian,  Continental,  Asian,  Sizzlers',
       'Multi-Cuisine,  North Indian,  Continental,  Asian,  Health Food'],
      dtype=object)

#### 2.14 Удалите текущий индекс и создайте новый индекс на базе новой колонки, которая для этого лучше всего подходит

In [70]:
rests.reset_index(inplace= True )

rests

,level_0,index,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost,CITIES,eat
0,0,0,Local,"Scindia House,Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Finger Food, Continental",4.1,2415,NaN,DELHI,not eat
1,1,1,The G.T. ROAD,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,North Indian,4.3,2363,NaN,DELHI,not eat
2,2,2,Tamasha,"Connaught Place, Central Delhi",Central Delhi,Delhi,"Finger Food, North Indian, Italian, Contine...",4.2,5016,NaN,DELHI,not eat
3,3,3,The Junkyard Cafe,"Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Mediterranean, Asian, Italian...",4.2,2821,1800.0,DELHI,not eat
4,4,4,Chili's American Grill and Bar,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,"Mexican, American, Italian",4.4,1094,2000.0,DELHI,not eat
...,...,...,...,...,...,...,...,...,...,...,...,...
6588,6588,6588,Shree Rathnam,"Wave Mall,BRS Nagar, West Ludhiana",West Ludhiana,Ludhiana,South Indian,4.1,20,600.0,LUDHIANA,eat
6589,6589,6589,Cafe Delish,"Radisson Blu,Rajguru Nagar, West Ludhiana",West Ludhiana,Ludhiana,"Multi-Cuisine, North Indian, Continental, A...",4.4,48,3100.0,LUDHIANA,eat
6590,6590,6590,3 K Resorts,"BRS Nagar, West Ludhiana",West Ludhiana,Ludhiana,North Indian,1.0,1,1100.0,LUDHIANA,eat
6591,6591,6591,Dovka Bar,"Nirvana Hotel Banquets Club,PAU, Central Ludhiana",Central Ludhiana,Ludhiana,"North Indian, Chinese, Finger Food",4.3,3,1500.0,LUDHIANA,eat
6592,6592,6592,Urban Vibes,"Aggar Nagar, West Ludhiana",West Ludhiana,Ludhiana,"Multi-Cuisine, North Indian, Italian, Chine...",3.8,12,2000.0,LUDHIANA,eat

Удалили старый индекс, но оставили его столбцом, чтобы назначить его заново, т.к. он подходит лучше всех

In [71]:
rests.set_index('index')

,level_0,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost,CITIES,eat
index,,,,,,,,,,,
0,0,Local,"Scindia House,Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Finger Food, Continental",4.1,2415,NaN,DELHI,not eat
1,1,The G.T. ROAD,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,North Indian,4.3,2363,NaN,DELHI,not eat
2,2,Tamasha,"Connaught Place, Central Delhi",Central Delhi,Delhi,"Finger Food, North Indian, Italian, Contine...",4.2,5016,NaN,DELHI,not eat
3,3,The Junkyard Cafe,"Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Mediterranean, Asian, Italian...",4.2,2821,1800.0,DELHI,not eat
4,4,Chili's American Grill and Bar,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,"Mexican, American, Italian",4.4,1094,2000.0,DELHI,not eat
...,...,...,...,...,...,...,...,...,...,...,...
6588,6588,Shree Rathnam,"Wave Mall,BRS Nagar, West Ludhiana",West Ludhiana,Ludhiana,South Indian,4.1,20,600.0,LUDHIANA,eat
6589,6589,Cafe Delish,"Radisson Blu,Rajguru Nagar, West Ludhiana",West Ludhiana,Ludhiana,"Multi-Cuisine, North Indian, Continental, A...",4.4,48,3100.0,LUDHIANA,eat
6590,6590,3 K Resorts,"BRS Nagar, West Ludhiana",West Ludhiana,Ludhiana,North Indian,1.0,1,1100.0,LUDHIANA,eat
6591,6591,Dovka Bar,"Nirvana Hotel Banquets Club,PAU, Central Ludhiana",Central Ludhiana,Ludhiana,"North Indian, Chinese, Finger Food",4.3,3,1500.0,LUDHIANA,eat
6592,6592,Urban Vibes,"Aggar Nagar, West Ludhiana",West Ludhiana,Ludhiana,"Multi-Cuisine, North Indian, Italian, Chine...",3.8,12,2000.0,LUDHIANA,eat